<!DOCTYPE html>

<html lang="en">

    <head>
       <title> E.V.B Entregas Via Bike</title>
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style='height: 100px;'>
  <a style='font-size:150%;'class="navbar-brand" href="/contact">E.V.B</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div style='font-size:150%;'class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a style='color: green;' class="nav-item nav-link" href="/prices">Precos</a>
      <a style='color: green;'class="nav-item nav-link" href="/orcamento">Orcamento</a>
      <a style='color: green;' class="nav-item nav-link" href="/history">Historico</a>
      <a style='color: green;'class="nav-item nav-link" href="/contact">Contato</a>

    </div>
  </div>
</nav>
    <body class="container p-5">
    {%block body %}
    {%endblock %}
    </body>
  <footer>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style='height: 100px;'>
  <a class="navbar-brand" href="#">E.V.B</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/prices">Precos</a>
      <a class="nav-item nav-link" href="/orcamento">Orcamento</a>
      <a class="nav-item nav-link" href="/history">Historico</a>
      <a class="nav-item nav-link" href="/contact">Contato</a>
  </footer>