{% extends "layout.html" %}

{% block body%}
    <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Tabela de Precos</th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th scope="col">Distancias</th>
      <th scope="col">Valores</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>0km - 4km</td>
      <td>R$ 18,00</td>
    </tr>
    <tr>
      <td>4,1km - 5,9km</td>
      <td>R$ 20,00</td>
    </tr>
    <tr>
      <td>6km - 7,9km</td>
      <td>R$ 22,00</td>
    </tr>
    <tr>
      <td>8km - 9,9km</td>
      <td>R$ 25,00</td>
    </tr>
    <tr>
      <td>10km - 11,9km</td>
      <td>R$ 28,00</td>
    </tr>
    <tr>
      <td>A partir de 12 km</td>
      <td>R$ 2,5 por km</td>
    </tr>
  </tbody>
</table>
{% endblock%}